.diary-container {
  padding: 20px;
  flex: 2;
  display: flex;
  flex-direction: column;
}

.user-info-c {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 20px 0 20px;
  margin: 0;

  .user-name {
    font-size: 18px;
  }

  .user-icon {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    padding: 10px;
    color: var(--color-background);
    background-color: var(--color-secondary);
  }

  .user-profile {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.calendar-diary-item {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: var(--color-white);
  color: var(--color-secondary);
  border-bottom: 1px solid var(--color-prim-background);
  font-size: 14px;

  .diary-item-title {
    margin-bottom: 10px;
    .title-text {
      font-size: 16px;
      font-weight: 400;
      color: var(--color-primary);
    }
  }

  .diary-item-content {
    margin-bottom: 20px;
  }

  .diary-item-bottom {
    display: flex;
    justify-content: space-between;

    .realtime-div {
      font-size: 12px;
      color: var(--color-sec-background);
    }
  }
}

.no-diary-message {
  text-align: center;
  padding: 40px 20px;
  color: var(--color-sec-background);
  font-size: 14px;
}
