.calendar-container {
  flex: 1;
  padding: 20px;
  border-right: 1.5px solid var(--color-prim-background);
}

.calendar-date {
  color: var(--color-primary);
  text-align: center;

  .date-value {
    font-size: 14px;
  }
}

.Mui-selected {
  color: #fff !important;
  background-color: var(--color-primary) !important;
  border: none !important;
}
.css-23p0if-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected) {
  background-color: var(--color-prim-background);
  border: none !important;
  color: #fff !important;
}

/* RWD */

@media (min-width: 960px) and (max-width: 1200px) {
}
@media (min-width: 720px) and (max-width: 960px) {
  .calendar-container {
    padding: 10px;
  }
}
@media (min-width: 360px) and (max-width: 720px) {
  .calendar-container {
    padding: 0px;
    border-bottom: 1.5px solid var(--color-prim-background);
    border-right: none;
  }

  .calendar-date {
    .date-value {
      font-size: 14px;
      margin-bottom: 20px;
    }
  }
}
