.calendar-container {
  flex: 1;
  padding: 20px;
  border-right: 1.5px solid var(--color-prim-background);
}

.calendar-date {
  color: var(--color-primary);
  text-align: center;

  .date-value {
    font-size: 14px;
  }
}

.Mui-selected {
  color: #fff !important;
  background-color: var(--color-primary) !important;
  border: none !important;
}
.css-23p0if-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected) {
  background-color: var(--color-prim-background);
  border: none !important;
  color: #fff !important;
}
