.calendar-container {
  flex: 1;
  padding: 20px;
  border-right: 1.5px solid var(--color-prim-background);
}

.diary-date.Mui-selected {
  background-color: var(--color-primary) !important;
  color: white !important;
}

.diary-date {
  background-color: var(--color-background) !important;
  color: var(--color-primary) !important;
  &:hover {
    background-color: var(--color-background) !important;
    color: var(--color-white) !important;
  }
}
