/* Navbar */
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 66px;
  background-color: var(--color-white);
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 26px;
  width: 1200px;
}

.nav-items {
  display: flex;
  align-items: center;

  .nav-item {
    color: var(--color-primary);
    font-weight: 340;
    font-size: 14px;
    padding: 8px 10px;
    margin: 0 6px;
    background-color: var(--color-background);
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      font-weight: 400;
      padding: 10px 14px;
      border: 1.5px solid var(--color-primary);
    }
  }

  .sign-out-btn {
    display: flex;
    align-items: center;
    background-color: var(--color-primary);
    font-weight: 340;
    font-size: 14px;
    padding: 8px 10px;
    margin: 0 6px;
    color: var(--color-white);
    border-radius: 10px;
    cursor: pointer;
    border: none;
    &:hover {
      background-color: var(--color-white);
      color: var(--color-primary);
      border: 1.5px solid var(--color-primary);
      padding: 10px 14px;
      font-weight: 400;
    }

    .signout-icon {
      height: 20px;
    }
  }

  .web-hide {
    display: none;
  }

  .hamberger-icon,
  .close-icon {
    display: none;
    cursor: pointer;
    padding: 10px;
    width: 44px;
    height: 44px;
    color: var(--color-primary);
    background-color: var(--color-background);
    align-items: center;
    border-radius: 50px;
  }
}

.logo-wrapper {
  display: flex;
}

#logo {
  height: 64px;
  width: 64px;
  object-fit: cover;
}

#logo-title {
  height: 44px;
  width: 180px;
  object-fit: cover;
  margin: 16px 10px 6px 10px;
}

/* RWD */

@media (min-width: 920px) and (max-width: 1200px) {
}
@media (min-width: 600px) and (max-width: 920px) {
}
@media (min-width: 360px) and (max-width: 600px) {
  nav {
    align-items: unset;
    height: 54px;
  }
  .nav-container {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin: 0px 0px 0px 6px;
    width: 100vw;
  }

  .hamberger-icon-div {
    background-color: white;
    margin: 5px 0 0 0 !important;
  }

  .hamberger-icon {
    display: block !important;
    background-color: var(--color-white) !important;

    &:hover {
      color: var(--color-prim-background);
    }
  }

  .main-items {
    padding: 20px 30px;
    display: none !important;
    height: 100vh;
    flex-direction: column;
    background-color: var(--color-background);
  }

  // .show {
  //   display: block !important;
  // }

  // .hide {
  //   display: none !important;
  // }

  .nav-items {
    a {
      margin: 10px 8px;
    }

    .nav-item {
      font-size: 12px;
      margin: 0;
      padding: 0;
      cursor: pointer;

      &:hover {
        font-weight: 400;
        text-decoration: underline;
        padding: 0px !important;
        border: 0 !important;
      }
    }
  }

  #logo {
    height: 51.2px;
    width: 51.2px;
    object-fit: cover;
  }

  #logo-title {
    height: 35.2px;
    width: 144px;
    object-fit: cover;
    margin: 12px 8px 6px 8px;
  }

  .web-hide {
    display: block !important;
  }

  .close-icon {
    display: block !important;
  }
}
