.friend-request {
  flex: 1;
  overflow: hidden;
}

.title {
  background-color: var(--color-primary);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 20px;
  height: 101.5px;
  gap: 10px;

  .title-span {
    font-size: 14px;
  }

  .add-icon {
    width: 24px;
    height: 24px;
  }
}

.request-list {
  padding: 10px;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.request-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 20px;
  cursor: pointer;
  border-bottom: 1px solid var(--color-prim-background);

  .request-user {
    display: flex;
    align-items: center;
    gap: 16px;

    span {
      font-size: 14px;
    }

    img {
      width: 46px;
      height: 46px;
      border-radius: 50%;
      object-fit: cover;
    }

    .request-profile {
      width: 46px;
      height: 46px;
      border-radius: 50%;
      padding: 10px;
      color: var(--color-background);
      background-color: var(--color-secondary);
    }
  }

  .check-x-wrapper {
    display: flex;
    align-items: center;
    gap: 14px;

    .check-icon,
    .x-icon {
      width: 34px;
      height: 34px;
      background-color: var(--color-prim-background);
      color: var(--color-white);
      border-radius: 50px;
      &:hover {
        width: 36px;
        height: 36px;
        background-color: var(--color-primary);
      }
    }
  }
}

/* RWD */

@media (min-width: 920px) and (max-width: 1200px) {
}
@media (min-width: 600px) and (max-width: 920px) {
  .friend-request {
    flex: none;
    overflow: hidden;
    display: none;
  }
}

@media (min-width: 360px) and (max-width: 600px) {
  .friend-request {
    flex: none;
    overflow: hidden;
    display: none;
  }
}
